<div class="app-nav__links">
    <NavLink class="app-nav__link" href="" Match="NavLinkMatch.All">
        <i class="bi bi-house-fill me-1"></i>Home
    </NavLink>
    <NavLink class="app-nav__link" href="image-regeneration">
        <i class="bi bi-cpu me-1"></i>Regeneration
    </NavLink>
    <NavLink class="app-nav__link" href="meme-generation">
        <i class="bi bi-emoji-laughing me-1"></i>Memes
    </NavLink>
    <NavLink class="app-nav__link" href="bulk-generate">
        <i class="bi bi-collection me-1"></i>Bulk Generate
    </NavLink>
    <NavLink class="app-nav__link" href="diag">
        <i class="bi bi-activity me-1"></i>Diagnostics
    </NavLink>
</div>

